---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="404 – BetyDecor"
  showNavbar={false}
  showFooter={false}
>
  <div class="not-found">
    <div class="not-found-container">
      <h1>404 Page non trouvée</h1>
      <p>Désolé, la page que vous recherchez n'existe pas.</p>
      <div class="button"><a href="/">Retourner à l'accueil</a></div>
    </div>
  </div>
</BaseLayout>
