---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero';
import About from '../components/About';
import Work from '../components/Work';
import Services from '../components/Services';
import Reviews from '../components/Reviews';
import Faqs from '../components/Faqs';
import Contact from '../components/Contact';
---

<BaseLayout
  title="BetyDecor – Design d'intérieur à Tanger"
  description="BetyDecor – Agence de design d'intérieur à Tanger, Maroc. Transformez votre espace avec nos services de plan 2D, visualisation 3D, réalisation des travaux et suivi de chantier."
  image="https://betydecor.com/images/salon.jpeg"
  url="https://betydecor.com/"
  type="website"
>
  <div class="Home">
    <Hero client:load />
    <About client:load />
    <Work client:load />
    <Services client:load />
    <Reviews client:load />
    <Faqs client:load />
    <Contact client:load />
  </div>
</BaseLayout>
